<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Forgot your password?</h2>
<p>Please enter your email address, we will send the password reset link to your mail.</p>
<form action="" method="POST">


    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="RESET" value="RESET">
</form>
</body>
</html>